@for (job of jobs; track job.id) {
  <div class="content-card" [id]="'job-' + job.id" [class.active-target]="activeFragment === 'job-' + job.id">
    <h3>{{ job.company }}</h3>
    <h4>{{ job.position }}</h4>
    <p>{{job.dateStarted}} to 
      @if (!job.isCurrentJob) {
        {{job.dateEnded}}
      } @else {
        Present
      }
    </p>
    <p>{{ job.description }}</p>
    @if (job.technologies.length > 1) {
        <p>Languages/Frameworks: 
        @for (tech of job.technologies; track tech) {
          <a 
            [routerLink]="['/resume']" 
            [fragment]="tech | formatSkillId"
            class="tech-badge">
            {{ tech }}
          </a>
        } 
        </p>
      }
  </div>
}